body.algoritmos-page,
body.tp1-algoritmos-page {
    --accent: var(--color-algoritmos);
    --button-hover-bg: var(--color-algoritmos-dark);
    --header-line-color: var(--color-algoritmos);
    --theme-color: var(--color-algoritmos);
}