.formula-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    text-align: center;
    padding: 10px 0;
    margin: 1.5rem 0;
    
    /* Achica la fuente proporcionalmente a la pantalla */
    font-size: clamp(0.6rem, 2.2vw, 1.1rem); 
}

/* Magia para ocultar la barra de scroll en TODOS los navegadores */
.formula-responsive::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}
.formula-responsive {
    -ms-overflow-style: none;  /* IE y Edge antiguo */
    scrollbar-width: none;  /* Firefox */
}