body.fisicaII-page {
    --accent: var(--color-fisicaII);
    --button-hover-bg: var(--color-fisicaII-dark);
    --header-line-color: var(--color-fisicaII);
    --theme-color: var(--color-fisicaII);
}