body.sociedad-page {
    --accent: var(--color-sociedad);
    --button-hover-bg: var(--color-sociedad-dark);
    --header-line-color: var(--color-sociedad);
    --theme-color: var(--color-sociedad);
}