body.sintaxis-page {
    --accent: var(--color-sintaxis);
    --button-hover-bg: var(--color-sintaxis-dark);
    --header-line-color: var(--color-sintaxis);
    --theme-color: var(--color-sintaxis);
}