/* ===== FÍSICA (Tema Específico) ===== */
body.fisica-page {
    --accent: var(--color-fisica);
    --button-hover-bg: var(--color-fisica-dark);
    --header-line-color: var(--color-fisica);
    --theme-color: var(--color-fisica);
}
body.fisica-page .trabajo-card:hover {
    box-shadow: 0 5px 15px rgba(46, 204, 113, 0.3); /* Sombra Verde */
    border-color: var(--color-fisica-dark);
}
body.fisica-page .logo:hover {
    text-shadow: 0 0 15px rgba(46, 204, 113, 0.7);
}