/* ===== VARIABLES DE TEMA ===== */

/* --- MODO CLARO (Soft UI) --- */
:root {
    --bg-color: #f8fafc;
    --color-cards: #ffffff;
    --color-titulos: #1e293b;
    --color-parrafos: #475569;
    --color-boton-editar: #2563eb;
    --color-boton-eliminar: #dc2626;
    --color-borde: #cbd5e1;
    --color-sombra: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* --- MODO OSCURO --- */
[data-theme="dark"] {
    --bg-color: #1a1a1a;
    --color-cards: #1a202c;
    --color-titulos: #e2e8f0;
    --color-parrafos: #cbd5e0;
    --color-boton-editar: #63b3ed;
    --color-boton-eliminar: #fc8181;
    --color-borde: #2d3748;
    --color-sombra: rgba(0, 0, 0, 0.3);

    /* Ajustes Header Dark */
    --header-bg: #0f172a;
    --header-text: #e2e8f0;
    --header-line-color-index: #ffffff;
}